<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search aksiyonlar
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["aksiyonlar/new", "Create aksiyonlar"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "aksiyonlar/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTarih" class="col-sm-2 control-label">Tarih</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["tarih", "type" => "date", "class" => "form-control", "id" => "fieldTarih"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDurum" class="col-sm-2 control-label">Durum</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["durum", "size" => 30, "class" => "form-control", "id" => "fieldDurum"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldKonu" class="col-sm-2 control-label">Konu</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["konu", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldKonu"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldMusteri" class="col-sm-2 control-label">Musteri</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["musteri", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldMusteri"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUlke" class="col-sm-2 control-label">Ulke</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["ulke", "size" => 30, "class" => "form-control", "id" => "fieldUlke"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAciklama" class="col-sm-2 control-label">Aciklama</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["aciklama", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldAciklama"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTermin" class="col-sm-2 control-label">Termin</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["termin", "type" => "date", "class" => "form-control", "id" => "fieldTermin"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSonuc" class="col-sm-2 control-label">Sonuc</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["sonuc", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldSonuc"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
