<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["aksiyonlar/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["aksiyonlar/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>Konu</th>
            <th>Musteri</th>
            <th>Ulke</th>
            <th>Aciklama</th>
            <th>Termin</th>
            <th>Sonuc</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $aksiyonlar): ?>
            <tr>
                <td><?php echo $aksiyonlar->id ?></td>
            <td><?php echo $aksiyonlar->tarih ?></td>
            <td><?php echo $aksiyonlar->durum ?></td>
            <td><?php echo $aksiyonlar->konu ?></td>
            <td><?php echo $aksiyonlar->musteri ?></td>
            <td><?php echo $aksiyonlar->ulke ?></td>
            <td><?php echo $aksiyonlar->aciklama ?></td>
            <td><?php echo $aksiyonlar->termin ?></td>
            <td><?php echo $aksiyonlar->sonuc ?></td>

                <td><?php echo $this->tag->linkTo(["aksiyonlar/edit/" . $aksiyonlar->id, "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["aksiyonlar/delete/" . $aksiyonlar->id, "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("aksiyonlar/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("aksiyonlar/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("aksiyonlar/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("aksiyonlar/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
